.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  /* Provide a darker color when hovering over submit button */
  input[type=submit]:hover {
    background-color: #45a049;
  }

  /* Style text and email input boxes */
  /* Treat input elements as block elements starting on a new line */
  input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=radio] {
    padding: 12px 20px;
    margin: 18px;
    border: 1px solid #ccc;
  }
  
  /* Style the Submit button green */
  input[type=submit], input[type=reset] {
    width: 45%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* Style the table */
  #results {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  /* Set border color and type for the table data and header */
  #results td, #results th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  /* Set the even numbered rows to a different color for contrast */
  #results tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* On hover over a row change the background color */
  #results tr:hover {
    background-color: #ddd;
  }

  /* Set the background color and text color of the heading */
  #results th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}